<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Aura</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aura needs access to the local network to share songs with nearby friends.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_senku-share._tcp</string>
		<string>_senku-share._udp</string>
	</array>
</dict>
</plist>
